html, body {
  font: 14px "proxima-nova", Helvetica, sans-serif;
  font-weight: 300;
  color: #5f6a7d;
  background-color: #8a8a8d;
  min-height: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "ff-din-web", sans-serif; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  background: url("/images/Hero%20Container@0.5x.jpg") no-repeat center center; }
.hero-pitch {
  position: relative;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%; }

.blog-header {
  position: relative;
  color: white;
  background: url("/images/blog/greenbank.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%;
  border-bottom: 8px solid #77bc1f; }
  .blog-header h1 {
    font-family: "ff-din-web", sans-serif;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 50px;
    margin: 0;
    padding: 90px 0 0; }
  .blog-header h2 {
    font-family: "ff-din-web", sans-serif;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 43px;
    margin: 0;
    padding: 0; }
  .blog-header h3 {
    font-family: "ff-din-web", sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.65);
    line-height: 27px;
    margin: 0;
    padding: 0 0 120px; }
  .blog-header div.attribution {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.65);
    text-shadow: rgba(0, 0, 0, 0.35); }
    .blog-header div.attribution a {
      color: rgba(255, 255, 255, 0.65); }

.blog-header.post {
  background: url("/images/blog/phone2.png") no-repeat center center;
  position: relative;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%; }

.posts {
  list-style-type: none; }
  .posts li {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #d0d5d8; }
    .posts li p {
      font-size: 16px;
      line-height: 30px;
      margin: 10px 0 10px;
      color: #333333; }
  .posts .post-link {
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 1;
    color: #323a45;
    text-decoration: none; }
  .posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181; }
  .posts .post-author {
    text-transform: uppercase;
    font-size: 14px;
    color: #848484; }

.blog article h1, .blog article h2, .blog article h3, .blog article h4, .blog article h5, .blog article h6, .blog article p, .blog article ol, .blog article ul, .blog article table, .blog article blockquote, .blog header#page_header, .blog figure.kudo {
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px auto;
  max-width: 600px;
  color: #4d4d4d; }
.blog .comments {
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px auto 20px;
  max-width: 600px;
  color: #4d4d4d; }
.blog .blog-break {
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px auto;
  max-width: 600px; }
.blog .blog-aside {
  background-color: #77BC1F; }
.blog article h2 {
  font-family: DIN-Medium;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 26px; }
.blog article blockquote {
  margin-top: 0px;
  margin-bottom: 0px; }
.blog article p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'proxima-nova','Helvetica','Avenir','Arial',sans-serif;
  font-weight: 300;
  color: #4d4d4d; }
.blog article ul li {
  font-size: 16px;
  line-height: 30px; }
.blog p {
  margin-top: 25px;
  margin-bottom: 25px; }

.what-we-do {
  float: left;
  padding-top: 60px;
  padding-bottom: 90px;
  font-size: 14px;
  line-height: 16px;
  text-align: left; }
  .what-we-do .btn-outline {
    width: 140px; }

.what-we-do {
  font-family: "ff-din-web", sans-serif; }
  .what-we-do .btn-outline {
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.9); }
  .what-we-do .btn-outline:hover {
    color: #fff;
    border: 1px solid #FFF; }
  .what-we-do .learn-more {
    margin-top: 20px; }

a.btn-contact:hover {
  background-color: #5A8F17;
  color: white;
  border: 1px solid transparent; }

a.btn-contact {
  color: white;
  border: 1px solid transparent;
  background-color: #77bc1f;
  border-radius: 4px;
  letter-spacing: 0px;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out 0;
  vertical-align: baseline;
  font-family: "ff-din-web", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: always;
  text-rendering: optimizeLegibility; }

.what-we-do-examples {
  margin-top: 20px;
  line-height: 24px; }
  .what-we-do-examples a.example {
    color: #a9e858;
    margin-right: 20px; }
  .what-we-do-examples a.example:hover {
    color: #8BBF49; }

a.example {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  vertical-align: middle;
  transition: all .2s ease-in-out 0; }
  a.example i {
    font-weight: 400;
    font-size: 10px;
    vertical-align: middle; }

a.example:hover {
  text-decoration: none; }

.btn-outline {
  background-color: transparent;
  border-radius: 6px;
  font: 16px "ff-din-web", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 32px;
  transition: all .2s ease-in-out 0; }

.btn-outline.light {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7); }

.btn-outline.light:hover {
  color: #FFF;
  border: 1px solid #FFF; }

.btn-outline.dark {
  border: 1px solid rgba(29, 28, 30, 0.6);
  color: rgba(29, 28, 30, 0.6); }

.btn-outline.dark:hover {
  color: #1d1c1e;
  border: 1px solid #1d1c1e; }

.specifics {
  position: relative;
  padding-top: 33px;
  padding-bottom: 30px;
  background-color: rgba(119, 188, 31, 0.65);
  height: 115px; }
  .specifics .container {
    font-size: 18px;
    color: white;
    line-height: 26px; }
    .specifics .container a {
      color: #77bc1f; }

.what-we-do-detail {
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  line-height: 18px;
  margin-bottom: 20px; }

body.light {
  background-color: white; }

body.dark {
  background-color: #3b3b3e; }

.footer.light {
  color: #8a8a8d;
  background-color: white; }

.footer.dark {
  color: #EEE;
  background-color: #3b3b3e; }

.section.light {
  color: #8a8a8d;
  background-color: white; }
  .section.light h1 {
    color: #3b3b3e; }

.section.light.light-alternate {
  background-color: #FAFAFA;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0; }

.section.dark {
  color: #EEE;
  background-color: #3b3b3e; }
  .section.dark h1 {
    color: #FFF; }

.section.dark.pitch {
  background-color: #3b3b3e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  width: 100%; }

.pitch h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }
.pitch h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.section.circuit {
  background: FFF url("/images/Circuit.png") no-repeat right bottom;
  background-size: 23% auto; }

.section {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #636F70;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .section h1 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 0px;
    color: #3b3b3e;
    text-align: center; }
  .section .heading {
    text-align: center;
    margin: 0 auto;
    max-width: 700px; }

.footer {
  font-size: 14px;
  padding: 30px;
  text-align: left; }
  .footer img {
    display: inline-block;
    vertical-align: 0%;
    margin-right: 15px; }
  .footer .copyright {
    padding-top: 30px;
    float: right; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 8px solid #EEE; }

.big {
  font: "ff-din-web", sans-serif;
  font-size: 46px;
  letter-spacing: 2px;
  white-space: nowrap;
  line-height: 1.2; }

.dark .syntropy-brand {
  background: url("/images/Word%20Mark.png") no-repeat center center;
  background-size: 177px 30px; }

.light .syntropy-brand {
  background: url("/images/Word%20Mark%20Dark.png") no-repeat center center;
  background-size: 177px 30px; }

.syntropy-brand {
  width: 181px;
  display: inline-block;
  height: 60px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(0deg); } }
.syntropy-logo {
  background: url("/images/syntropy-logo@1x.png") no-repeat center center;
  width: 30px;
  background-size: 30px 30px;
  display: inline-block;
  height: 60px;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  animation: spin 2s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: spin 2s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.navbar {
  border-radius: 0px;
  height: 60px;
  margin-bottom: 0px;
  z-index: 10; }
  .navbar .container-fluid {
    height: 60px; }

.navbar-nav > li {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px; }

.navbar-header {
  height: 60px; }

.navbar-default {
  font: 14px "ff-din-web", sans-serif;
  border-color: transparent; }

.navbar-default.dark {
  transition: all .4s ease 0;
  background-color: transparent; }

.navbar-default.dark:hover {
  background-color: rgba(59, 59, 62, 0.65); }

.navbar-default.dark.opaque {
  background-color: #3b3b3e; }

.navbar-default.light {
  background-color: #FFF; }

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 35px; }

.navbar-nav > li > a.nav-page-Contact:hover {
  border: 1px solid transparent;
  background-color: #77bc1f;
  border-radius: 4px;
  color: white; }

.navbar-nav > li > a.nav-page-Contact {
  border: 1px solid #77bc1f;
  color: #77bc1f;
  border-radius: 4px; }

@media (max-width: 768px) {
  .navbar-default.dark {
    background-color: rgba(59, 59, 62, 0.65); }

  .navbar-nav > li {
    padding-top: 0px;
    padding-bottom: 0px; }

  .navbar-nav > li > a {
    font-size: 16px;
    min-width: 48px;
    line-height: 48px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-nav > li > a.nav-page-Contact {
    border: 1px solid transparent;
    color: #77bc1f;
    border-radius: 4px; } }
.dark .navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.85);
  transition: all .2s ease-in-out 0; }

.dark .navbar-default .navbar-nav > li > a:hover {
  color: #FFF; }

.light .navbar-default .navbar-nav > li > a {
  color: rgba(59, 59, 62, 0.85);
  transition: all .2s ease-in-out 0; }

.light .navbar-default .navbar-nav > li > a:hover {
  color: #3b3b3e; }

.navbar-default.dark .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.8); }

.navbar-default.light .navbar-toggle .icon-bar {
  background-color: rgba(59, 59, 62, 0.8); }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.section-title {
  margin-bottom: 0px;
  text-align: left; }
  .section-title .container h1 {
    margin-top: 10px; }
    .section-title .container h1 a {
      padding: 20px 20px 15px;
      width: 100%;
      height: 100%;
      display: block;
      color: #fff; }
    .section-title .container h1 a:hover {
      color: #fff; }
  .section-title .container p {
    font-size: 18px;
    line-height: 26px; }

.steps {
  margin-bottom: 30px;
  text-align: center; }
  .steps .icon {
    margin: 0 auto;
    width: 200px;
    height: auto; }
  .steps .step h2 {
    margin-bottom: 15px;
    text-align: center; }
  .steps .step p {
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px; }
  .steps .step ul {
    font-size: 16px;
    line-height: 23px;
    text-align: left; }

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  font-family: "ff-din-web", sans-serif; }

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: all ease-in-out .15s,box-shadow ease-in-out .15s; }

.dark .form-control {
  color: #FFF;
  background-color: #2D2D2F;
  border-left: 6px solid transparent;
  border: 1px solid transparent; }

textarea, input {
  outline: none; }

.light .form-control {
  color: #3b3b3e;
  background-color: #FFF;
  border: 1px solid #77bc1f; }

.light .form-control:focus {
  border-left: 6px solid #77bc1f; }

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #3b3b3e; }

.footer h1, .footer h2, .footer h3, .footer h4 {
  color: #FFFEFD;
  border-bottom: 2px solid #77bc1f;
  padding-bottom: 5px;
  margin-right: 30px;
  margin-bottom: 30px; }

.footer h5, .footer h6 {
  color: #FFFEFD;
  font-weight: bold;
  margin-right: 60px; }

.form-control:focus {
  outline: none;
  border-color: #77bc1f;
  box-shadow: none; }

.section-title.green {
  background-color: #77bc1f;
  color: #FFF; }

.section-title.grey {
  background-color: #8a8a8d;
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px; }

.section-title.grey h1 {
  color: #FFF; }

.section-title.dark {
  background-color: #3b3b3e;
  color: #FFF; }

.map {
  position: relative;
  color: white;
  height: 500px;
  width: 100%;
  box-sizing: content-box; }

@media only screen and (max-width: 767px) {
  .section.dark.pitch {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%; }

  .section.circuit {
    background-size: 55% auto; }

  .section h2 {
    text-align: center; }

  .map {
    position: relative;
    color: white;
    height: 270px;
    width: 100%;
    box-sizing: content-box; }

  .navbar-default.dark .navbar-collapse {
    background: #3b3b3e; }

  .navbar-default.light .navbar-collapse {
    background: white; }

  .syntropy-logo {
    margin-left: 15px; }

  .container-fluid > .navbar-collapse {
    margin-right: -20px;
    margin-left: -20px; }

  .navbar-nav {
    margin: 3px -15px; }

  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -1px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-default.dark .navbar-toggle {
    border-color: rgba(255, 255, 255, 0.25); }

  .navbar-default.dark .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.3); }

  .navbar-default.light .navbar-toggle {
    border-color: rgba(59, 59, 62, 0.25); }

  .navbar-default.light .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(59, 59, 62, 0.3); } }
.map-container {
  border-bottom: 8px solid #77bc1f; }

.phone {
  color: #FFF;
  font-size: 24px;
  display: block;
  margin-bottom: 10px; }

.social-container {
  text-align: justify;
  margin-top: 10px; }

.social {
  color: #FFF;
  font-size: 28px;
  margin-right: 15px; }

.social:hover, .phone:hover {
  color: #FFF; }

.social:hover {
  text-decoration: none; }

.site-list li {
  margin-bottom: 5px; }
  .site-list li a {
    color: #FFF; }
  .site-list li a:hover {
    color: #FFF; }

.team .member-row .member {
  position: relative;
  margin-bottom: 30px; }
  .team .member-row .member .links {
    background-color: #8a8a8d;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px; }
    .team .member-row .member .links a {
      color: #FFF;
      padding-right: 10px;
      font-size: 18px; }
    .team .member-row .member .links a:hover {
      color: #FFF;
      text-decoration: none; }
  .team .member-row .member img {
    width: 115px;
    float: left;
    height: 115px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px; }
  .team .member-row .member h2 {
    background-color: #77bc1f;
    line-height: 1.1em;
    color: #FFF;
    margin-bottom: 0px;
    padding: 10px 30px;
    margin-top: 0; }
  .team .member-row .member small {
    display: block;
    background-color: #77bc1f;
    color: #FFF; }
  .team .member-row .member p {
    display: none !important;
    font-size: 16px;
    line-height: 28px; }

.announcement {
  background-color: #FAFAFA;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0; }
  .announcement .news {
    text-align: center;
    margin: 15px 0 15px; }
    .announcement .news i {
      color: #77bc1f; }
  .announcement .contents {
    font: "ff-din-web", sans-serif;
    text-align: left;
    margin: 15px 0 15px; }
    .announcement .contents a {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      color: #5f6a7d;
      margin-right: 20px; }
    .announcement .contents a:hover {
      color: #77bc1f; }

#strategies h2 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  text-align: left; }
#strategies h4 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
  text-transform: none;
  font-weight: bold;
  text-align: left; }
#strategies p {
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300; }

#straticon {
  width: 256px;
  height: 256px; }

.iconic * {
  fill: #8a8a8d;
  stroke: #8a8a8d; }

.iconic-property-accent {
  fill: #77bc1f;
  stroke: #77bc1f; }

.iconic-server-chasis-top-light {
  fill: #8a8a8d;
  stroke: #8a8a8d;
  animation: blink-1 2s 0.5s infinite;
  -webkit-animation: blink-1 2s 0.5s infinite;
  transition-timing-function: step-end;
  -webkit-transition-timing-function: step-end;
  animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end; }

.iconic-server-chasis-bottom-light {
  fill: #8a8a8d;
  stroke: #8a8a8d;
  animation: blink-1 2.5s 1s infinite;
  -webkit-animation: blink-1 2.5s 1s infinite;
  transition-timing-function: step-end;
  -webkit-transition-timing-function: step-end;
  animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end; }

.iconic-server-chasis-middle-light {
  fill: #8a8a8d;
  stroke: #8a8a8d;
  animation: blink-3 3.2s 2s infinite;
  -webkit-animation: blink-3 3.2s 2s infinite;
  transition-timing-function: step-end;
  -webkit-transition-timing-function: step-end;
  animation-timing-function: step-end;
  -webkit-animation-timing-function: step-end; }

@keyframes blink-1 {
  0% {
    fill: #8a8a8d; }

  12.5% {
    fill: #77bc1f; }

  25% {
    fill: #8a8a8d; }

  100% {
    fill: #8a8a8d; } }
@-webkit-keyframes blink-1 {
  0% {
    fill: #8a8a8d; }

  12.5% {
    fill: #77bc1f; }

  25% {
    fill: #8a8a8d; }

  100% {
    fill: #8a8a8d; } }
@keyframes blink-3 {
  0% {
    fill: #8a8a8d; }

  12.5% {
    fill: #77bc1f; }

  15% {
    fill: #8a8a8d; }

  17.5% {
    fill: #77bc1f; }

  20% {
    fill: #8a8a8d; }

  22.5% {
    fill: #77bc1f; }

  25% {
    fill: #8a8a8d; }

  100% {
    fill: #8a8a8d; } }
@-webkit-keyframes blink-3 {
  0% {
    fill: #8a8a8d; }

  12.5% {
    fill: #77bc1f; }

  15% {
    fill: #8a8a8d; }

  17.5% {
    fill: #77bc1f; }

  20% {
    fill: #8a8a8d; }

  22.5% {
    fill: #77bc1f; }

  25% {
    fill: #8a8a8d; }

  100% {
    fill: #8a8a8d; } }
#straticon-container {
  color: #77bc1f;
  font-size: 250px;
  margin-top: 75px;
  text-align: center; }
