.syntropy-logo {
  background              : url("/images/syntropy-logo@1x.png") no-repeat center center;
  width                   : 26px;
  height                  : 26px;
  background-size         : 26px 26px;
  display                 : inline-block;

  -webkit-animation-delay : 1.5s;
  -moz-animation-delay    : 1.5s;
  animation-delay         : 1.5s;

  animation               : spin 2s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation       : spin 2s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.syntropy-brand {
  width   : 181px;
  height  : 44px;
  display : inline-block;
}

.dark .syntropy-brand {
  background      : url("/images/Word%20Mark.png") no-repeat center center;
  background-size : 177px 30px;
}

.light .syntropy-brand {
  background      : url("/images/Word%20Mark%20Dark.png") no-repeat center center;
  background-size : 177px 30px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform : rotate(360deg);
  }
  100% {
    -webkit-transform : rotate(0deg);
  }
}

