@media only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min--moz-device-pixel-ratio           : 2),
only screen and (-o-min-device-pixel-ratio             : 2/1),
only screen and (min-device-pixel-ratio                : 2),
only screen and (min-resolution                        : 192dpi),
only screen and (min-resolution                        : 2dppx) {
  // background                                           : url("/images/Hero%20Container@0.5x.jpg") no-repeat center center;
}

.hero-pitch {
  position                : relative;
  color                   : $white;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
  height                  : auto;
  width                   : 100%;
  -webkit-font-smoothing: antialiased;

  background: $dark-grey;
  background: -webkit-radial-gradient(bottom left,circle, #4D4C54,$dark-grey);
  background: radial-gradient(bottom left,circle, #4D4C54,$dark-grey);


}

.hero-pitch.oil-gas{
  background-image:url(/images/oil-gas-hero-2.png);
  background-position-x: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
  height                  : auto;
  width                   : 100%;
  -webkit-font-smoothing: antialiased;
}


.hero-pitch.home{
  background-image:url(/images/traffic.jpg);
  background-position-x: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
  height                  : auto;
  width                   : 100%;
  -webkit-font-smoothing: antialiased;

}

//@media (max-width: 768px) {
  .hero-pitch.home {
//    background : #E1785b;
//    background: #7AA77F;
//    background:#E89C0C;
//    background: #0DFAFF;
//    background: #0ACCD0;
//    background: #08A2A5;
//    background: #315635;
//    background: #224BA1;
//    background: #202123;
  }


//}


