$nav-height             :44px;

$nav-logo-height        :24px;
$nav-wordmark-height    :24px;

.nav{
  padding-left: 15px;
  border-radius:0px;
  border: none;
  height:$nav-height;
  margin-bottom: 0px;
  z-index: $zIndex-7--nav;
  text-align: center;

  font             : 14px $medium-font-stack;
  background-color : $dark-grey;

  overflow: hidden;

  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.nav-logo {
  background              : url("/images/syntropy-logo@1x.png") no-repeat center center;
  width                   : $nav-logo-height;
  height                  : $nav-height;
  background-size         : $nav-logo-height $nav-logo-height;
  display                 : inline-block;
  animation               : spin 1.7s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation       : spin 1.7s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-wordmark {
  width   : 132px;
  height  : $nav-height;
  display : inline-block;
}

.dark .nav-wordmark {
  background      : url("/images/Word%20Mark.png") no-repeat center center;
  background-size : auto $nav-wordmark-height;
}

.light .nav-wordmark {
  background      : url("/images/Word%20Mark%20Dark.png") no-repeat center center;
  background-size : auto $nav-wordmark-height;
}


.nav-header{
  float: left;
}

.nav-links{

  display: block;
  float:right;

  li{
    display: inline-block;
    float:left;
    a{
      display: block;
      width: 100%;
      padding: 0 15px;
      line-height: 45px;
//      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 0px;
      font-weight: 700;
      white-space: nowrap;
      text-decoration: none !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: always;
      text-rendering: optimizeLegibility;
      color:#FFF;
      border-right:1px solid #4d4d4d;
    }


    a:first-child{
      border-left:1px solid #4d4d4d;
    }

    a:last-child{
      border-right:0px solid #4d4d4d;
    }

//    a:hover{
//      //  border:1px solid transparent;
//      background-color: $green;
//      //  border-radius: 4px;
//      color      : rgba(255, 255, 255, 1);
//    }

    a.nav-page-Contact:hover{
      //  border:1px solid transparent;
      background-color: $green;
      //  border-radius: 4px;
      color      : rgba(255, 255, 255, 1);
    }

    a.nav-page-Contact{
      color:$light-green;
    }
  }

}

.nav-toggle-container{
  display: none;
}

@media (max-width: 768px){
  .nav-links{
    display:none;
  }

  .nav{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .nav-header{
    position:absolute;
    left:0px;
    top:0px;
    text-align: center;
    float: none;
    width:100%;
  }

  .nav-toggle-container{
    position:absolute;
    left:0px;
    top:0px;
    display: block;
    padding: 0 14px;
    line-height: 44px;
    font-size: 20px;
    border-right: 1px solid #4d4d4d;

    a{
      color: #FFF;
    }
  }

}

@media (max-width:300px){
.nav-logo{
      display: none;
}
}
