#strategies{

  h2{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: left;
  }

  h4{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    text-transform: none;
    font-weight: bold;
    text-align: left;
  }

  p{
    padding-right:20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
  }
}

.steps {
  margin-bottom : 30px;
  text-align: center;

  .icon{
    margin: 0 auto;
    width: 200px;
    height:auto;
  }

  .step {
    h2 {
      margin-bottom : 15px;
      text-align    : center;
    }

    p {
      font-size: 16px;
      line-height: 23px;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }

    ul{
      font-size: 16px;
      line-height: 23px;
      text-align: left;
    }
  }
}