.team{

  .member-row{

    .member{
      position: relative;
      margin-bottom: 30px;

      .links{
        background-color: $grey;
        padding-left: 30px;
        padding-right: 30px;
        a{ color: #FFF; padding-right:10px; font-size: 18px;}
        a:hover{color: #FFF; text-decoration: none;}
        font-size: 22px;
      }

      img{
        width: 115px;
        float: left;
        height: 115px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 15px;
      }
      h2{
        background-color: $green;
        line-height: 1.1em;
        color: #FFF;
        margin-bottom: 0px;
        padding      : 10px 30px;
        margin-top: 0;
      }
      small{
        display: block;
        background-color: $green;
        color: #FFF;
      }
      p{
        display: none !important;
        font-size: 16px;
        line-height: 28px;
      }

    }

  }

}