

<footer class="footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <h4>Connect With Us</h4>
        <div class="row">
          <div class="col-md-6">
            <span style="font-size: 18px;">Call us from 9am - 6pm</span> <br/>
            <a href="tel:3042123444" class="phone">
              <span itemprop="telephone">+1 (304) 212-3444</span>
            </a>
          </div>
          <div class="col-md-6">
            <span style="font-size: 18px;">Email us anytime</span> <br/>
            <a href="mailto:contact@syntropy.io" class="phone">

              <span itemprop="email">contact@syntropy.io</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="social-container">
              <a class="social" href="mailto:contact@syntropy.io">
                <i class="fa fa-envelope-square"></i>
              </a>
              <a class="social" href="https://www.facebook.com/syntropydevelopment">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="social" href="https://twitter.com/SyntropyDev">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="social" href="https://plus.google.com/116023901843696548502" rel="publisher">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="social" href="https://github.com/SyntropyDev/">
                <i class="fa fa-github-square"></i>
              </a>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h5 style="margin-top: 30px;">About</h5>
            <p style="margin-right: 60px;" itemprop="description">
              Syntropy is a software development company based in Morgantown, West Virginia that builds apps to help build your business.
              We specialize in using web, iPhone, iPad and Android to connect with customers and automate business processes.
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-3">
        <h4>Locations</h4>
        <h5 style="margin-top: 30px;">Morgantown, WV</h5>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display: inline-block; margin-bottom: 0px;">
          <span itemprop="streetAddress">5005 Mid-Atlantic Road</span><br/>
          <span itemprop="addressLocality">Morgantown</span>,
          <span itemprop="addressRegion">WV</span>
          <span itemprop="postalCode">26508</span>
        </address>

        <h5 style="margin-top: 30px;">Charleston, WV</h5>
        <address style="display: inline-block; margin-bottom: 0px;">
          818 Oakwood Road<br/>
          Charleston, WV 25314

        </address>

      </div>
      <div class="col-sm-3">
        <h4>Site</h4>
        <ul class="site-list list-unstyled">
          <li><a href="/index">Home</a></li>
          <li><a href="/process">Process</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a itemprop="url" href="http://www.syntropydev.com"></a>
        <span class="copyright">&copy; <span itemprop="name">Syntropy</span> 2014</span>
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>