<footer class="footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <h4>Connect With Us</h4>
        <div class="row">
          <div class="col-md-6">
            <span style="font-size: 18px;">Call us from {{site.hours}}</span> <br/>
            <a href="tel:{{site.contact_phone}}" class="phone">
              <span itemprop="telephone">{{site.contact_phone}}</span>
            </a>
          </div>
          <div class="col-md-6">
            <span style="font-size: 18px;">Email us anytime</span> <br/>
            <a href="mailto:{{site.contact_email}}" class="phone">
              <span itemprop="email">{{site.contact_email}}</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="social-container">
              <a class="social" href="mailto:{{site.contact_email}}">
                <i class="fa fa-envelope-square"></i>
              </a>
              <a class="social" href="https://www.facebook.com/{{site.facebook_username}}">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a class="social" href="https://twitter.com/{{site.twitter_username}}">
                <i class="fa fa-twitter-square"></i>
              </a>
              <a class="social" href="{{site.plus_page}}" rel="publisher">
                <i class="fa fa-google-plus-square"></i>
              </a>
              <a class="social" href="https://github.com/{{site.github_username}}/">
                <i class="fa fa-github-square"></i>
              </a>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h5 style="margin-top: 30px;">About</h5>
            <p style="margin-right: 60px;" itemprop="description">
             {{site.description}}
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-3">
        <h4>Locations</h4>

        <h5 style="margin-top: 30px;">{{site.primary_location.name}}</h5>
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display: inline-block; margin-bottom: 0px;">
          <span itemprop="streetAddress">{{site.primary_location.street}}</span><br/>
          <span itemprop="addressLocality">{{site.primary_location.city}}</span>,
          <span itemprop="addressRegion">{{site.primary_location.state}}</span>
          <span itemprop="postalCode">{{site.primary_location.zip}}</span>
        </address>

        {% for location in site.other_locations %}
        <h5 style="margin-top: 30px;">{{ location.name }}</h5>
        <address style="display: inline-block; margin-bottom: 0px;">
          {{ location.street }}<br/>
          {{ location.city }}, {{ location.state }} {{ location.zip }}
        </address>
        {% endfor %}

      </div>
      <div class="col-sm-3">
        <h4>Site</h4>
        <ul class="site-list list-unstyled">
          <li><a href="/">Home</a></li>

          {% assign sorted_pages = site.pages | sort:"rank" %}

          {% for page in sorted_pages%}

            {% if page.visibility == "navigation" %}
              <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}

            {% if page.visibility == "sitemap" %}
              <li><a href="{{page.url}}">{{page.title}}</a></li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <a itemprop="url" href="http://www.syntropydev.com"></a>
        <span class="copyright">&copy; <span itemprop="name">Syntropy</span> 2014</span>
      </div>
    </div>

  </div>
</footer>

<!--Font Awesome-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!--Typekit-->
<script type="text/javascript" src="//use.typekit.net/bkv3vpf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--Scripts-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<!--Smooth scrolling-->
<script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 500);
          return false;
        }
      }
    });
  });
</script>
