<nav class="nav dark" role="navigation">
  <div class="container-fluid">

    <div class="nav-toggle-container">
      <a class="nav-toggle" id="menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="nav-header">
      <a class="nav-logo" href="/"></a>
      <a class="nav-wordmark" href="/"></a>
    </div>

    <ul class="nav-links">
        <!--<li><a href="/">Home</a></li>-->
        <li><a href="http://blog.syntropydev.com">Blog</a></li>


        {% assign sorted_pages = site.pages | sort:"rank" %}

        {% for page in sorted_pages%}

        {% if page.visibility == "navigation" %}
        <li><a href="{{page.url}}" class="nav-page-{{page.title}}">{{page.title}}</a></li>
        {% endif %}

        {% endfor %}


    </ul>

  </div><!-- /.container-fluid -->
</nav>
