<ul class="menu-items">
  <li class="menu-section-title first">Syntropy</li>
  <li><a href="/">Home</a></li>
  <li><a href="http://blog.syntropydev.com">Blog</a></li>

  {% assign sorted_pages = site.pages | sort:"rank" %}

  {% for page in sorted_pages%}

  {% if page.visibility == "navigation" %}
  <li><a href="{{page.url}}">{{page.title}}</a></li>
  {% endif %}

  {% if page.visibility == "sitemap" %}
  <li><a href="{{page.url}}">{{page.title}}</a></li>
  {% endif %}

  {% endfor %}

  <li class="menu-section-title">Contact</li>
  <li>
    <a href="tel:{{site.contact_phone}}">
      Give us a call
    </a>
  </li>
  <li>
    <a href="mailto:{{site.contact_email}}">
      Send an email
    </a>
  </li>

  <li class="menu-section-title">Around the Web</li>
  <li>
    <a href="https://www.facebook.com/{{site.facebook_username}}">
      Facebook
    </a>
  </li>
  <li>
    <a href="https://twitter.com/{{site.twitter_username}}">
      Twitter
    </a>
  </li>
  <li>
    <a href="{{site.plus_page}}" rel="publisher">
      Google Plus
    </a>
  </li>
  <li>
    <a href="https://github.com/{{site.github_username}}/">
      Github
    </a>
  </li>



</ul>