---
layout: no-nav
title: Blog
permalink: /blog/
visibility: "navigation"
rank: 3
---

<div class="blog-header">
  {% include header.html %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 style="margin-top:30px;">&#64;Work</h1>
        <h2 style="margin-bottom: 105px;">Syntropy's Official Company Blog</h2>
        <div class="attribution"><a href="http://en.wikipedia.org/wiki/Green_Bank_Telescope">Green Bank Telescope</a> by <a href="https://flic.kr/p/doo7cQ">Jiuguang Wang</a></div>
      </div>
    </div>
  </div>
</div>

<div class="section light">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="posts" style="padding: 0;">
          {% for post in site.posts %}
          <li>
            <!--<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>-->
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <div class="post-author">BY {{post.author}}</div>
            {{ post.excerpt }}
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          </li>
          {% endfor %}
        </ul>

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <div class="blog-aside" hidden>
          <h3>Want an App?</h3>
          <p>Ready to take your idea to the next level? We can help.</p>
          <a href="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>





